/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

img {
    width: 70px;
    padding: 15px;
}
header {
    background-color: #303a45;
    height: 70px;
}

/* MAIN */

main {
    background-color: #212d3a;
}

.cards_wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 50px 0;
}
.card {
    margin-top: 15px;
    background-color: #2e3a46;
    height: 350px;
    width: calc((100% / 5) - 40px);
}
h3 {
    color: white;
    text-transform: uppercase;
    margin: 10px 0;
    text-align: center;
}
.img-container img {
    width: 200px;
}
.author {
    color: #686765;
    text-align: center;
}
.year {
    color: #686765;
    text-align: center;
}